*-protocol.h
*.in
*.o
*~
/.deps/
/autom4te.cache/
Makefile
aclocal.m4
build
cagebreak
compile
config.h
config.log
config.status
configure
depcomp
fuzz_corpus
fuzzing-directory
install-sh
missing
stamp-h1
